// 颜色
$nld-font-color-blue: #13D1F8;
$nld-font-color-green: #5BFFAF;
$nld-font-color-yellow: #FDFF30;
$nld-font-color-active: #0FF6F9;

$nld-bg-color: #122D44;
$nld-bg-color-opacity: rgba(18, 45, 68, .6);

// 字体

$nld-fs-sm: 12px;

$nld-fs-md: 14px;



$nld-fs-lg: 18px;

$nld-fs-xl: 20px;



$nld-fs-xxl: 24px;









$nld-fs-xxxl: 34px;
